<nav class="navbar bg-dark navbar-dark">
  <ul class="navbar-nav"><h1>Educare<sup>&reg;</sup></h1>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/applicants/"><i class="fas fa-star"></i>  Applicants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/banks/"><i class="fas fa-star"></i>  Banks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/class_subjects/"><i class="fas fa-star"></i>  Class Subjects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/declarations/"><i class="fas fa-star"></i>  Declarations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/exam_setups/"><i class="fas fa-star"></i>  Exam Setups</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/grades_table/"><i class="fas fa-star"></i>  Grades Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/junior_first_term_reports/"><i class="fas fa-star"></i>  Junior First Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/junior_second_term_reports/"><i class="fas fa-star"></i>  Junior Second Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/junior_third_term_reports/"><i class="fas fa-star"></i>  Junior Third Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/medicals/"><i class="fas fa-star"></i>  Medicals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/mid_term_reports/"><i class="fas fa-star"></i>  Mid Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/nursery_reports/"><i class="fas fa-star"></i>  Nursery Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/parents_table/"><i class="fas fa-star"></i>  Parents Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/payments/"><i class="fas fa-star"></i>  Payments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/permits/"><i class="fas fa-star"></i>  Permits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/primary_first_term_reports/"><i class="fas fa-star"></i>  Primary First Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/primary_second_term_reports/"><i class="fas fa-star"></i>  Primary Second Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/primary_third_term_reports/"><i class="fas fa-star"></i>  Primary Third Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/questions_bank/"><i class="fas fa-star"></i>  Questions Bank</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/results_control/"><i class="fas fa-star"></i>  Results Control</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/scores_table/"><i class="fas fa-star"></i>  Scores Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/senior_first_term_reports/"><i class="fas fa-star"></i>  Senior First Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/senior_second_term_reports/"><i class="fas fa-star"></i>  Senior Second Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/senior_third_term_reports/"><i class="fas fa-star"></i>  Senior Third Term Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/students/"><i class="fas fa-star"></i>  Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/teachers/"><i class="fas fa-star"></i>  Teachers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/educaredb/app/views/users/"><i class="fas fa-star"></i>  Users</a>
    </li>
  </ul>
</nav>